<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Music Licensing Platform</title>
</head>
<body>
<header>
</header>

<section>
    <form class="form login">
        <input class="id" type="text" autocomplete="username" placeholder="id" />
        <input class="password" type="password" autocomplete="current-password" placeholder="password" />
    </form>
    <button class="button submit">로그인</button>
</section>

<script src="js/signin.js"></script>
</body>
</html>